<div class="map-key">
	<div class="key-row-header">
		<div class="key-left-label">
		Baja Población
		</div>
		<span class="small-vertical-line vertical-line-left-pos"></span>
		<div class="key-right-label">
			Alta población
		</div>
		<span class="small-vertical-line vertical-line-right-pos"></span>
	</div>
	{{#each parties as |party|}}
	<div class="key-row">
		<div class="key-row-label">{{party.name}}</div>
		<div class="colors-row">
			<div class="color-box" style="opacity:.25; background-color:{{party.color}};"></div>
			<div class="color-box" style="opacity:.5; background-color: {{party.color}};"></div>
			<div class="color-box" style="opacity:.75; background-color: {{party.color}};"></div>
			<div class="color-box" style="opacity:1; background-color: {{party.color}};"></div>
		</div>
	</div>
	{{else}}
	<div class="key-row">
		<div class="key-row-label">Selecciona un partido.</div>
		<div class="colors-row">
			<div class="color-box" style="opacity:.25; background-color: black;"></div>
			<div class="color-box" style="opacity:.5; background-color: black;"></div>
			<div class="color-box" style="opacity:.75; background-color: black;"></div>
			<div class="color-box" style="opacity:1; background-color: black;"></div>
		</div>
	</div>
	{{/each}}
</div>