<div class="row">
	<div class="col-xs-12">
		<div class="poll-question">
			¿Si hoy tuvieras que votas por el Presidente, qué tan probable sería que eligiera a...?
		</div>
	</div>
	<div class="col-xs-8 col-xs-offset-1">
		<div id="poll-percent-progress"></div>
	</div>
	<div class="col-xs-3">
		<div class="poll-progress-number {{if is100 "percent-100"}} {{if isOver100 "percent-over"}}">{{percent}}%</div>
		{{!-- <div style="position: absolute; left: 50%;">
			<div style="position: relative; left: -50%;">This is some text that I want it to be center</div>
		</div> --}}
	</div>
</div>

<div class="row">
	{{poll-block-percent sumValue='sumValue'}}
	{{poll-block-percent sumValue='sumValue'}}
	{{poll-block-percent sumValue='sumValue'}}
</div>