<div class="projections-sidebar">
	<div class="sidebar-buttons-box">
		<p class="sidebar-text-title">Región</p>
		<p class="sidebar-text-left {{if isMunicipal "sidebar-selected"}}" {{action 'setMapDivision' "municipal"}}>Municipios</p>
		<p class="sidebar-text-right {{if isFederal "sidebar-selected"}}" {{action 'setMapDivision' "federal"}}>Distritos</p>
	</div>
	
	<div class="sidebar-buttons-box">
		<p class="sidebar-text-title">Datos</p>
		<p class="sidebar-text-left {{if isVotes "sidebar-selected"}}" {{action 'setDataType' "votes"}}>Electorales</p>
		<p class="sidebar-text-right {{if isPopulation "sidebar-selected"}}" {{action 'setDataType' "population"}}>Poblacionales</p>
	</div>

	<div class="sidebar-buttons-box election-selection">
		<p class="sidebar-text-title">Elección</p>
		{{ember-selectize open=true content=elections optionValuePath="content.key" optionLabelPath="content.name" selection=selectedElection select-item="addElection"}}
	</div>
	
	{{!-- <div class="sidebar-projections">
		<p class="sidebar-text-title no-margin">Proyecciones</p>
		<div class="sidebar-timeline">
			<div class="timeline-item" date-is='Marzo - 2017'>
			</div>

			<div class="timeline-item" date-is='Enero - 2017'>
			</div>

			<div class="timeline-item selected-timeline-item" date-is='Octubre - 2016'>
			</div>
			<div class="timeline-item" date-is='Septiembre - 2016'>
			</div>
			<div class="timeline-item" date-is='Agosto - 2016'>
			</div>
		</div>
	</div> --}}

	{{parties-selection}}
	
</div>