<div class="tooltip-row">
	<h6 class="tooltip-header">Sección: {{hoveredSection.section_code}} <span class="small-text">{{hoveredSection.population}} Pob. total</span></h6>
</div>
<div class="tooltip-row">
	<table class="table votes-table">
		<thead class="votes-table-header">
			<tr>
				<th>Pob.</th>
				<th> &lt; 30</th>
				<th> > 30</th>
				<th> Fem.</th>
				<th> Masc.</th>
			</tr>
		</thead>
		<tbody class="votes-table-content">
			<tr>
				<td>
					<span class="tooltip-party">{{hoveredSection.population}}</span>
				</td>
				<td class="tooltip-pct">{{less30}}%</td>
				<td class="tooltip-pct">{{more30}}%</td>
				<td class="tooltip-pct">{{fem}}%</td>
				<td class="tooltip-pct">{{masc}}%</td>
			</tr>
		</tbody>
	</table>
</div>