{{#liquid-if showQuickForm class="expandedVoter"}}

{{/liquid-if}}
<div class="voter-row-form">
	<form {{action "quickCreate" voter on="submit"}}>
		<div class="row-form-field med">
			<span>Clave de elector</span>
			{{input value=voter.electoral_id_number}}
		</div>

		<div class="row-form-field med">
			<span>Nombre</span>
			{{input value=voter.first_name}}
		</div>

		<div class="row-form-field med">
			<span>1er Apellido</span>
			{{input value=voter.first_last_name class=""}}
		</div>

		<div class="row-form-field med">
			<span>2do Apellido</span>
			{{input value=voter.second_last_name class=""}}
		</div>

		<div class="row-form-field big">
			<span>Estado</span>
			{{#power-select
				class="row-form-select"
				tagName=div
				options=states
				renderInPlace=true
				selected=selectedState
				placeholder="Selecciona"
				onchange=(action "selectState")
				as |state| 
			}}
				{{state}}
			{{/power-select}}
		</div>

		<div class="row-form-field med">
			<span>Municipio</span>
			{{input value=voter.municipality class=""}}
		</div>

		<div class="buttons-row">
			<div {{action "reset"}} class="btn-blue invert" style="cursor: pointer;">Cancelar</div>
			{{input value="Guardar" type="submit" class="btn-blue"}}
		</div>
	</form>
</div>