<div class="container">
	<div class="row vertical-offset-100">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="admin-table-title"> Admin de Organizaciones</h3>
			<table class="table votes-table">
				<thead class="votes-table-header">
					<tr>
						<th>Nombre</th>
						<th>Manager</th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody class="votes-table-content admin-table-body">
				<tr>
					<td>XXXXX</td>
					<td>XXXXX</td>
					<td></td>
					<td>{{link-to "Nuevo" "admin.organization-new" class="btn btn-success"}}</td>
				</tr>
				{{#each model as |org|}}
					<tr>
						<td>{{org.name}}</td>
						<td>{{org.managerName}}</td>
						<td>
							{{link-to "Editar" "admin.organization-edit" org.id class="btn btn-info"}}
						</td>
						<td>
							<button {{action 'deleteOrg' org.id}} class="btn btn-danger">Eliminar</button>
						</td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>
