<div class="container">
	<div class="row vertical-offset-100">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="admin-table-title"> Admin de Usuarios</h3>
			<table class="table votes-table">
				<thead class="votes-table-header">
					<tr>
						<th>Nombre</th>
						<th>Email</th>
						<th>Suborganización</th>
						<th style="text-align:center;">Manager</th>
						<th style="text-align:center;">Supervisor</th>
						<th style="text-align:center;">Capturista</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody class="votes-table-content admin-table-body">
					<tr>
						<td>XXXXX</td>
						<td>XXXXX</td>
						<td>XXXXX</td>
						<td style="text-align:center;">X</td>
						<td style="text-align:center;">X</td>
						<td style="text-align:center;">X</td>
						<td></td>
						<td></td>
						{{#if (can "create user")}}
							<td>{{link-to "Nuevo" "admin.user-new" class="btn btn-success"}}</td>	
						{{else}}
							<td><button {{action 'notAuthorized'}} class="btn btn-success">Nuevo</button></td>
						{{/if}}
					</tr>
					{{#each model as |user|}}
						<tr>
							<td>{{user.firstName}} {{user.lastName}}</td>
							<td>{{user.email}}</td>
							<td>{{user.suborganization.name}}</td>

							{{#if (can "edit user")}}
								<td>{{x-toggle value=user.manager 	 theme='ios' onToggle=(action (mut user.manager))}}</td>
								<td>{{x-toggle value=user.supervisor theme='ios' onToggle=(action (mut user.supervisor))}}</td>
								<td>{{x-toggle value=user.capturist  theme='ios' onToggle=(action (mut user.capturist))}}</td>
								<td><button {{action 'update' user}} class="btn btn-primary">Guardar Roles</button></td>
								<td>{{link-to "Editar" "admin.user-edit" user.id class="btn btn-info"}}</td>
								<td><button {{action 'deleteUser' user.id}} class="btn btn-danger">Eliminar</button></td>
							{{else}}
								<td>{{x-toggle value=user.manager 	 disabled=true theme='ios' onToggle=(action (mut user.manager))}}</td>
								<td>{{x-toggle value=user.supervisor disabled=true theme='ios' onToggle=(action (mut user.supervisor))}}</td>
								<td>{{x-toggle value=user.capturist  disabled=true theme='ios' onToggle=(action (mut user.capturist))}}</td>
								<td><button {{action 'notAuthorized'}} class="btn btn-primary">Guardar Roles</button></td>
								<td><button {{action 'notAuthorized'}} class="btn btn-info">Editar</button></td>
								<td><button {{action 'notAuthorized'}} class="btn btn-danger">Eliminar</button></td>
							{{/if}}
					
							
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>
