<div class="vertical-offset-100 horizontal-padding">
	<h3 class="admin-table-title">Agregar Archivo de Registros</h3>
    {{#if triedUpload}}
        <div class="text-center" style="margin-top: -25px">
            {{#if succesfulUpload}}
                <h4 class="text-success">El archivo se cargó con éxito</h4>
            {{else}}
                <h4 class="text-danger">{{errorString}}</h4>
            {{/if}}
        </div>
    {{/if}}
	<div class="container-fluid row file-uploader-contanier">
        <div class="col-md-offset-4 col-md-4 col-sm-offset-1 col-sm-10">
		{{#file-dropzone class="file-uploader" name="files" ondrop=(action "uploadFile") as |dropzone queue|}}
            {{#if dropzone.active}}
                {{#if dropzone.valid}}
                Suelta el archivo para empezar la carga
                {{else}}
                Archivo invalido
                {{/if}}
            {{else if queue.files.length}}
                Cargando {{queue.files.length}} archivos. ({{queue.progress}}%)
            {{else}}
                {{!-- <h4>Upload Images</h4> --}}
                <h5 style="padding:0 25px;">
                {{#if dropzone.supported}}
                    Arrastra un archivo a este recuadro para agregarlo o  
                {{/if}}
                {{#file-upload name="files"
                                accept="csv"
                                multiple=true
                                onfileadd=(action "uploadFile")}}
                    <a id="upload-image" tabindex=0>haz click aquí</a>
                {{/file-upload}}
                    para seleccionarlo manualmente
                </h5>
            {{/if}}
        {{/file-dropzone}}
        </div>
	</div>
    <div class="conatiner-fluid row help-container">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10">
            <div class="text-center">
                <h3>Ayuda</h3>
            </div>
            <p>El archivo a cargar debe ser guardado en formato CSV</p>
            <p>Para los el mes de nacimiento usar numeros (1 para enero, 2 para febrero y así hasta 12 para diciembre)</p>
            <p>Para el año de nacimiento usar el año completo de cuatro dígitos (1999 en vez de 99)</p>
            <p>Para los números de teléfono unicamente ingresar el número, sin paréntesis, "cel:", "ext:, etc."</p>
            <p>En lo posible evitar usar acentos y ñ</p>
            <p>Para cada persona utilizar una sola fila</p>
            <p>No cambiar el orden de las columnas del archivo muestra</p>
            <p>No agregar o quitar columnas </p>
            <p>Para datos extra que no estén en el archivo de formato agregarlo en notas</p>
            <p>Para datos faltantes dejar la columna en blanco</p>
            <div class="text-center">
                <btn {{action "downloadFormatFile"}} class="btn btn-success">Descargar Archivo de Formato</btn>
            </div>
        </div>
    </div>
</div>
